
// 1. Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Set your brand colors
$primary: #3C4E56;
$link: #0088FF;
$info: #D855A8;
$warning: #EFA821;
$danger: #CE3E5D;
$success: #18BF3F;

//New colours
$bluey: #00A08A;
$background: #D9DFE3;
$secure: #50B966;
$medium: #E49E0F;
$insecure: #B95852;

//Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "secure":($secure, findColorInvert($secure)),
  "medium":($medium, findColorInvert($medium)),
  "insecure":($insecure, findColorInvert($insecure)),
  "bluey":($bluey,findColorInvert($bluey)),
  "background":($background,findColorInvert($background)),
);
$colors: map-merge($colors, $addColors);


/*
####################################################
B U L M A
####################################################
*/
@import "../../node_modules/bulma/bulma.sass";
/*
####################################################
U T I L I T Y
####################################################
*/

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.m-auto{
  margin: auto;
}

.my-auto{
  margin-top:auto;
  margin-bottom: auto;
}

/*
####################################################
C U S T O M
####################################################
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}
 
#wrapper {
   flex: 1;
}

.equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.equal-height .card-content {
  flex: auto;
}
.justify-text{
  text-align: justify;
  text-justify: inter-word;
}

.border3{
  border-radius: 3px;
}

.navbar-item .activeNavLink{
  color: $bluey;
}



/*
####################################################
C H E C K   B O X
####################################################
*/


 /* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 3px;
  background-color: #D9D8DB;
  box-sizing: unset;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #CBCACC;
}

/* When the checkbox is checked */
.checkContainer input:checked ~ .checkmark {
  background-color: $bluey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 

/*
####################################################
S L I D E R
####################################################
*/
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: $bluey;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $bluey;
  cursor: pointer;
}


/*
####################################################
N A V
####################################################
*/

.navbar-start{
  transition: 0.3s;
}
.navbar-start a:hover{
  color: $bluey !important;
}


